{{#each eventList}}

  {{#if userPresent}}
    <p>Welcome back, {{userName}}!</p>
  {{else}}
    <p>Please <a href="/user/login">Log In</a> or <a href="/user/register">Register</a></p>
  {{/if}}
  <a href="/">Home</a>

  {{#if error}}
          <p>{{error_message}}</p>
  {{/if}}


  <article>
    <h2>{{eventName}}</h2>
    <p>
      {{#if imagePath}}
      <img src="{{imagePath}}">
      <br>
      {{/if}}
      Start Time: {{formatDate startTime "YYYY-MM-DD hh:mm"}}<br>
      End Time: {{formatDate endTime "YYYY-MM-DD hh:mm"}}<br>
      Description: {{description}}<br>
      Location: {{location}}<br>
      Posted By: {{postedBy}}<br>
    </p>
  </article>

  {{#if notOwnerTag}}
    {{#if userPresent}}
      
      {{#if userRegistered}}

        <a href={{deRegisterLink}}>Click here to de-register from the event</a>

      {{else}}

        {{#if capacityLeft}}
          <a href={{registerLink}}>Click here to register</a>
        {{else}}
          Sorry the Event is full
        {{/if}}

      {{/if}}
      <br>
      {{#if userFav}}
        <a href={{eventFavLink}}>Remove from Fav</a>
      {{else}}
        <a href={{eventFavLink}}>Add to Fav</a>
      {{/if}}
      
    {{/if}}
  {{/if}}


  {{#if ownerTag}}
    <a href={{deleteEvent}}>Delete the Event</a>
    <br>
    <a href={{editEvent}}>Edit the Event</a>
    <br>
    <h3>Registered User List</h3>
    {{#if usersRegistered}}
      <ol>
      {{#each usersRegistered}}
        <li>{{this}}</li>
      {{/each}}
      </ol>
    {{else}}
      <p>No One has registered for the event yet!.</p>
    {{/if}}
  {{/if}}


  {{#if userPresent}}
    <h5>Leave a Comment</h5>
      <form methd="POST"  onsubmit="return doComment(this);" id="new-comment-form">
        <input type="hidden" name="postCommentLink" value={{postCommentLink}} />
        <div class="form-group">
          <textarea class "form-control" name="comment" rows="2"></textarea>
        </div>
        <button type="submit" class="btn-primary">Post Comment</button>
      </form>
      <br>
    {{/if}}
    
    <ul id="commentList">    
    {{#each comments}}
    <li><article>
      <h3>{{userName}} commented on {{ formatDate commentDate "YYYY-MM-DD"}}</h3>
      <br>
        {{body}}
      </article></li>
    {{/each}}
    </ul>

  
{{/each}}

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
<script src="/public/js/eventPage.js"></script>