<h1>Event RSVP Platform</h1>

{{#if userPresent}}
  <p>Welcome back, {{userName}}!</p>
  <a href="/user/logout">Log Out</a>
  <br>
  <a href="/event/createEvent">Create Event</a>
{{else}}
  <p>Please <a href="/user/login">Log In</a> or <a href="/user/register">Register</a></p>
{{/if}}

<h2>Upcoming Events</h2>

{{#if eventList}}
  <ul>
    {{#each eventList}}
      <li>
        <article>
          <a href={{eventLink}}><h3>{{eventName}}</h3></a>
          <p>
            Start Time: {{formatDate startTime "YYYY-MM-DD hh:mm"}}<br>
            End Time: {{formatDate endTime "YYYY-MM-DD hh:mm"}}<br>
            Posted By: {{postedBy}}
          </p>
        </article>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>There are no upcoming events at this time.</p>
{{/if}}
